@font-face {
	font-family: Montserrat;
	src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: MontserratLight;
	src: url(../assets/fonts/Montserrat-Light.ttf);
}
@font-face {
	font-family: MontserratBold;
	src: url(../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: MontserratBlack;
	src: url(../assets/fonts/Montserrat-Black.ttf);
}

* {
	font-family: Montserrat;
}
.light {font-family: MontserratLight}
.bold {font-family: MontserratBold}
.black {font-family: MontserratBlack}

.page-header {
	border-bottom: none;
}
#nav {
	position: fixed;
	z-index: 20000;
	background: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 32000;
}

section {
	background: white;
	margin: 100px 0px;
	position: relative;
	z-index: 24000;
	padding: 50px 0px !important;
}

#one {
	margin-top: 200px;
}

#get-tickets-btn {
	border-radius: 0;
	border: 2px solid black;
	margin: 30px 0px;
}
#get-access-btn {
	border-radius: 0;
	border: 2px solid black;
	background: black;
	color:white;
}
#get-access-input {
	border-radius: 0;
	border: 2px solid black;
	padding:16px;
}

#bg-image-wrapper	> img {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width: 100%;
}
#bg-image-wrapper	> object {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width: 100%;
}
#grey {
	z-index: 11000;
}
#black {
	z-index: 12000;
}
#blue {
	z-index: 13000;
}
#green {
	z-index: 14000;
}
#pink {
	z-index: 15000;
}
#pink-splash {
	z-index: 15001;
}
#yellow {
	z-index: 16000;
}