#bg-image-wrapper	> img {
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
}

@font-face {
	font-family: Montserrat;
	src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: MontserratLight;
	src: url(../assets/fonts/Montserrat-Light.ttf);
}
@font-face {
	font-family: MontserratBold;
	src: url(../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: MontserratBlack;
	src: url(../assets/fonts/Montserrat-Black.ttf);
}

* {
	font-family: Montserrat;
}

.light {font-family: MontserratLight}
.bold {font-family: MontserratBold}
.black {font-family: MontserratBlack}

.page-header {
	border-bottom: none;
}

section {
	background: white;
	margin: 125px 0px;
	position: relative;
	z-index: 24000;
	padding: 50px 15px !important;
}

	#one {
		margin-top: 200px;
	}
	#two {
		padding: 100px 15px !important;
	}

#get-tickets-btn {
	border-radius: 0;
	border: 2px solid black;
	margin: 30px 0px;
}
#get-access-btn {
	border-radius: 0;
	border: 2px solid black;
	background: black;
	color:white;
}
#get-access-input {
	border-radius: 0;
	border: 2px solid black;
	padding:16px;
}

.social-links-row > div > a {
	cursor: pointer;
}

#grey {
	z-index: 11000;
}
#black {
	z-index: 12000;
}
#blue {
	z-index: 13000;
}
#green {
	z-index: 14000;
}
#yellow {
	z-index: 14500;
}
#pink {
	z-index: 15000;
}
#pink-splash {
	z-index: 15002;
}

#three {
	z-index: 14999;
}
#four {
	z-index: 15001;
	margin-bottom: 175px !important;
}

@media only screen and (max-width: 768px) {
	.section-one-banner {
		font-size: 16px;
	}
	.section-one-location {
    font-size: 18px;
	}

	.list-unstyled > li > h2 {
		font-size: 21px;
	}

	.section-four-header {
		font-size: 21px;
	}

	#get-access-input {
		width: 100%;
	}
	.input-group-btn {
		display: inline-block;
		width: 100%;
		left: 1px;
	}
	#get-access-btn {
		width: 100%;
	}

	.input-group {
		width: 100%;
	}
}	